<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %class{36} line %line
                [%caller{1}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Create a file appender for TRACE-level messages -->
    <appender name="TraceLog" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <file>${LOG_DIR}/trace.log</file>

        <encoder>
            <pattern>%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %class{36} line %line
                [%caller{1}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Create a file appender for DEBUG-level messages -->
    <appender name="DebugLog" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <file>${LOG_DIR}/debug.log</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Create a rolling file appender log-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>chat.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>chat.log.%d{yyyy-MM-dd}</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy. HH:mm:ss} %level [%thread] %logger{20} - %msg%n</pattern>
        </encoder>
        <Encoding>utf-8</Encoding>
    </appender>

    <!--Send email log -->
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>465</smtpPort>
        <SSL>true</SSL>
        <username>cauvongsaumua073@gmail.com</username>
        <password>@#nguyenvantuan.123.gmail</password>
        <to>nguyenvantuan.itus@gmail.com</to>
        <from>nguyenvantuan.itus@gmail.com</from>
        <subject>%date{yyyyMMdd'T'HH:mm:ss.SSS}; %-5level; %msg</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout" />
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
    </appender>

    <!--Write TRACE message from MainActivity to TraceLog-->
    <logger name="com" level="TRACE">
        <appender-ref ref="TraceLog" />
    </logger>

    <!-- Write DEBUG (and higher-level) messages to logcat -->
    <root level="DEBUG">
        <appender-ref ref="logcat" />
        <appender-ref ref="FILE" />
    </root>
</configuration>